*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
    
    body{
    font-family: "Poppins", sans-serif;
}
    
    header{
    background-color: #590be9;
    color: rgb(255, 255, 255);
    width: 100%;
    padding: 20px;
    
}
